{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home_page' %}">
            <img width="45px" src="{% static 'images/Hammer.png' %}">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Информация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'sell_car' %}">Продать</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Аукцион</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Услуги
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Услуга 1</a></li>
                        <li><a class="dropdown-item" href="#">Услуга 2</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Услуга 3</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                {% if request.user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Будущий лк</a></li>
                            <li><a class="dropdown-item" href="#">Что-то еще</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="btn btn-outline-success ms-2" type="submit"
                                   href="{% url 'logout' %}">Выйти</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">{{ user.email }}</a>
                    </li>
                </ul>
                {% else %}
                <a class="btn btn-outline-success me-2" type="submit" href="{% url 'register' %}">Зарегистрироваться</a>
                <a class="btn btn-outline-success" type="submit" href="{% url 'login' %}">Войти</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>