{% extends 'auction/base.html' %}
{% load static %}
{% load auction_tags %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
<div class="container-fluid">
    <p class="h6"> Здесь находится информация о проведении аукциона</p>

    <p class="lead">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал
        большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
        успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в
        новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время,
        программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
    <p class="lead">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал
        большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
        успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в
        новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время,
        программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
    <a href="{% url 'sell_car' %}">
        <button type="button" class="btn btn-outline-secondary" id="input-group-button-left">Перейти к продаже
            автомобиля
        </button>
    </a>
</div>


{% endblock content %}