{% extends "auction/base.html" %}
{% load static %}

{% block title %} Хочу участвовать в аукционе {% endblock title %}

{% block content %}
<div class="container-fluid col-md-6 p-4">
    {% if request.user.is_authenticated %}
    <p>Шаг {{ wizard.steps.step1 }} из {{ wizard.steps.count }}</p>
    <form action="" method="post">{% csrf_token %}
        {{ wizard.management_form }}
        {% for i in wizard.form %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{ i.label }}</label>
            {{ i }}
            {{ i.errors }}
        </div>
        {% endfor %}
        <div class="container text-center">
            <div class="row">
                {% if wizard.steps.prev %}
                <div class="col">
                    <button type="submit" class="btn btn-primary" value="{{ wizard.steps.first }}">Первый шаг</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary" value="{{ wizard.steps.prev }}">Предыдущий шаг
                    </button>
                </div>
                {% endif %}


                <div class="col">
                    {% if wizard.steps.next %}
                    <button type="submit" class="btn btn-primary">Далее</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Завершить</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
    {% else %}
    <div>
        <p class="h5">Для того, чтобы продать автомобиль, вам необходимо войти в аккаунт</p>

        <div></div>
        <a class="btn btn-outline-success m-2" type="submit" href="{% url 'register' %}">Зарегистрироваться</a>
    </div>
    <div>
        <a class="btn btn-outline-success m-2" type="submit" href="{% url 'login' %}">Войти</a>
    </div>
    {% endif %}
</div>
{% endblock %}

